* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 6.5em;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h2 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 5em;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.05em;
}

p {
    font-family: "Barlow Semi Condensed", sans-serif;
}

/* Box */
.box {
    background-color: white;
    margin: 50px auto;
    width: 100%;
    border-radius: 3px;
    height: 100%;
    text-align: center;
}

span {
    display: block;
    margin-top: 1em;;
}

/* Color Boxes */
.colors {
    height: auto;
    padding-bottom: 25px;
    text-align: center;
}

.color-box {
    width: 45%;
    display: inline-block;
    text-align: center;
    max-height: 90%;
    margin: 8px;
}

.color-box p {
    color: black;
    padding: 7em 2em;
    text-align: center;
    word-wrap: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.color1 {
    background-color: rgb(252,249,234);
}

.color2 {
    background-color: #badfdb;
}

.color3 {
    background-color: #49beb7;
}

.color4 {
    background-color: hsl(16.9,100%,68%);
}

/* Font Boxes */

.fonts {
    height: auto;
    padding-bottom: 25px;
    color: black;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

.label {
    text-decoration: underline;
    font-size: 1.5em;
}


.font-box {
    max-width: 100%;
    max-height: 90%;
    margin: 8px;
}

.pm {
    font-family: "Permanent Marker", sans-serif;
}

.bsc {
    font-family: "Barlow Semi Condensed", serif;
}

.pfd {
    font-family: "Playfair Display SC", serif;
}

.reg {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.heavybold {
    font-weight: 900;
}

/* Style Boxes */

.heading-style {
    color: black;
    font-size: 3em;
}

ul {
    font-size: 3em;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: black;
    list-style-type: square;
    font-weight: bold;
}

li {
    text-decoration-color: black;
}


.sub .heading-style {
    font-size: 2em;
} 

.sub ul {
    font-size: 2em;
}

.style-p .heading-style {
    font-size: 1.8em;
    margin: 30px;
    font-weight: 400;
}

.style-p ul {
    font-size: 1.8em;
    font-weight: 400;
    padding-bottom: 50px;
}