* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 6.5em;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h2 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-size: 5em;
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.05em;
}

p {
    font-family: "Barlow Semi Condensed", sans-serif;
}

/* Box */
.box {
    background-color: white;
    margin: 50px auto;
    width: 100%;
    border-radius: 3px;
    height: 100%;
}

/* Color Boxes */
.colors {
    height: auto;
    padding-bottom: 25px;
    text-align: center;
}

.color-box {
    width: 45%;
    display: inline-block;
    text-align: center;
    max-height: 90%;
    margin: 8px;
}

.color-box p {
    color: black;
    padding: 7em 2em;
    text-align: center;
    word-wrap: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
}

span {
    display: block;
    margin-top: 1em;;
}

.color1 {
    background-color: rgb(252,249,234);
}

.color2 {
    background-color: #badfdb;
}

.color3 {
    background-color: #49beb7;
}

.color4 {
    background-color: hsl(16.9,100%,68%);
}